GEMINI_API_KEY=
SPRING_API_BASE=http://localhost:8000/api
AI_SERVICE_KEY=
AI_SERVICE_SECRET=
SESSION_SECRET=
DEBUG=false
INNGEST_DEV=1
HUGGINGFACEHUB_API_TOKEN=hf_xxx
MONGO_URI=mongodb://127.0.0.1:27017
